body {
    background-color: #2c2f33;
    color: #99aab5;
}

#header {
    margin: 20px;
    color: aquamarine;
}

#rhymeForm {
    margin-left: 20px;
}

hr {
    border: 1px solid grey;
}

.radioInputs {
    margin-top: 15px;
}

#innerRhymes {
    margin-left: 15px;
}