body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2c2f33;
    color: white;
}

@keyframes topLeft {
    from {
        margin-top: 0px;
        margin-left: 0px;
        top: 0px;
        left: 0px;
        height: 0px
    }
    to {
        margin-top: -5px;
        margin-left: 50px;
        top: 0px;
        left: 0px;
        height: 200px;
    }
}

@keyframes topRight {
    from {
        margin-top: 0px;
        margin-right: 0px;
        top: 0px;
        right: 0px;
        height: 0px
    }
    to {
        margin-top: -5px;
        margin-right: 50px;
        top: 0px;
        right: 0px;
        height: 200px;
    }
}

#x-topLeft {
    position: relative;
    top: 0px;
    left: 0px;
    width: 3px;
    background-color: white;
    transform: rotate(135deg);
    animation-name: topLeft;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#x-topRight {
    position: relative;
    top: 0px;
    right: 0px;
    width: 3px;
    background-color: white;
    transform: rotate(45deg);
    animation-name: topRight;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#square1 {
    border: 1px solid white;
    border-top: none;
}

#square2 {
    border-bottom: 1px solid white;
}

#square3 {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

#square4 {
    border: 1px solid white;
}

#square5 {
    border: 1px solid white;
    border-left: none;
    border-right: none;
}

#square6 {
    /* border-bottom: 1px solid white; */
}

#square7 {
    border: 1px solid white;
    border-bottom: none;
}

#square8 {
    border-top: 1px solid white;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    position: relative;
    font-size: 1vw;
    margin-top: 100px;
    align-self: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    overflow: auto;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.b {
    word-wrap: break-word;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 199px;
    width: 199px;
    flex: auto;
}

#container {
    position: absolute;
    width: 100px;
    height: 100px;
}

#halfclip {
    width: 50%;
    height: 100%;
    right: 0px;
    position: absolute;
    overflow: hidden;
    transform-origin: left center;
    /* animation: cliprotate 1s steps(2) infinite; */
    -webkit-animation: cliprotate 1s steps(2) infinite;
}

.halfcircle {
    box-sizing: border-box;
    height: 100%;
    right: 0px;
    position: absolute;
    border: solid 3px transparent;
    border-top-color: white;
    border-left-color: white;
    border-radius: 50%;
}

#clipped {
    width: 200%;
    /* animation: rotate 8s linear infinite; */
    -webkit-animation: rotate 0.5s linear infinite;
}

#fixed {
    width: 100%;
    transform: rotate(135deg);
    /* animation: showfixed 1s steps(2) infinite; */
    -webkit-animation: showfixed 1s linear infinite;
}

@-webkit-keyframes cliprotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes cliprotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rotate {
    0% {
        transform: rotate(-45deg);
    }
    100% {
        transform: rotate(135deg);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(-45deg);
    }
    100% {
        transform: rotate(135deg);
    }
}

@-webkit-keyframes showfixed {
    0% {
        opacity: 0;
    }
    49.9% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

#circle {
    width: 93px;
    height: 93px;
    border-radius: 50%;
    border: 3px solid white;
}

@keyframes drawLine {
    from {
        top: 50%;
        left: 50%;
        height: 0px;
    }
    to {
        top: 0px;
        /* left: 0px; */
        height: 600px;
    }
}

.tLbR {
    position: absolute;
    left: 50%;
    top: 0px;
    width: 8px;
    background-color: red;
    transform: rotate(135deg);
    animation-name: drawLine;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.tRbL {
    position: absolute;
    left: 50%;
    top: 0px;
    width: 8px;
    background-color: red;
    transform: rotate(45deg);
    animation-name: drawLine;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.tLbL {
    margin-left: -200px;
    position: absolute;
    left: 50%;
    top: 0px;
    width: 8px;
    background-color: red;
    animation-name: drawLine;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.tMbM {
    position: absolute;
    left: 50%;
    top: 0px;
    width: 8px;
    background-color: red;
    animation-name: drawLine;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.tRbR {
    margin-left: 200px;
    position: absolute;
    left: 50%;
    top: 0px;
    width: 8px;
    background-color: red;
    animation-name: drawLine;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.tLtR {
    margin-top: -200px;
    position: absolute;
    left: 50%;
    top: 0px;
    width: 8px;
    transform: rotate(90deg);
    background-color: red;
    animation-name: drawLine;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.mLmR {
    position: absolute;
    left: 50%;
    top: 0px;
    width: 8px;
    transform: rotate(90deg);
    background-color: red;
    animation-name: drawLine;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.bLbR {
    margin-top: 200px;
    position: absolute;
    left: 50%;
    top: 0px;
    width: 8px;
    transform: rotate(90deg);
    background-color: red;
    animation-name: drawLine;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#info {
    display: flex;
    float: left;
    position: absolute;
    left: 45%;
    bottom: 17%;
}

#currentPlayer {
    margin-left: 10px;
}

@keyframes boxDone {
    from {
        background-color: #2c2f33;
    }
    to {
        background-color: grey;
    }
}