.startup {
    position: fixed;
    animation: forwards startup 5s;
    top: 0;
    width: 100%;
    height: 100%;
}

@keyframes startup {
    from {
        transform: scale(100%);
        display: block;
    }

    to {
        transform: scale(250%) translate(23px, 236px);
        display: none;
        visibility: hidden;
    }

}

img {
    width: 100vw;
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 10px;
  }

  header {
    grid-column: 1 / 4;
    background-color: #ccc;
    padding: 20px;
  }

  nav {
    background-color: #eee;
    padding: 20px;
  }

  main {
    background-color: #fff;
    padding: 20px;
  }

  footer {
    grid-column: 1 / 4;
    background-color: #ccc;
    padding: 20px;
  }