text{
    color:  white;
    font-family:Helvetica, Arial, sans-serif;
    font-size:21px;
    pointer-events:none;
}
#chart{
 
}
#prize{
display: grid;
grid-auto-flow: row;
}
#prize h1{
    font-size: 50px;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.wheel-container {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-auto-flow: row;
    text-align: center;
}
.slice:nth-of-type(2n) text {
    fill:  white !important;
}
.slice text{
    fill:  black;
}
/* Mobile Styles */
@media only screen and (max-width: 767px) {
    #chart {
        width: 100%;
        max-width: 450px;
        margin: 0 auto;
    }

    #prize h1 {
        font-size: 16px;
    }

    #prize img {
        max-width: 200px;
        display: block;
        margin: 0 auto;
    }
    .slice text {
        font-size: 16px !important;
    }
}

/* Tablet and Desktop Styles */
@media only screen and (min-width: 768px) {
    #chart {
        width: 100%;
        max-width: 750px;
        margin: 0 auto;
    }

    #prize h1 {
        font-size: 24px;
    }

    #prize img {
        max-width: 400px;
        display: block;
        margin: 0 auto;
    }
}
