text{
    color:  white;
    font-family:Helvetica, Arial, sans-serif;
    font-size:21px;
    pointer-events:none;
}
#chart{
 
}
#prize.info{
display: grid;
grid-auto-flow: row;
background: #FFCC00;
border: 2px solid;
border-radius: 20px;
position: absolute;
top: 20%;
left: 40%;
min-width: 400px;
min-height: 200px;
align-items: center;
}
#prize h1{
    font-size: 50px;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.wheel-container {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-auto-flow: row;
    text-align: center;
}
.slice:nth-of-type(2n) text {
    fill:  white !important;
}
.slice text{
    fill:  black;
}
/* Mobile Styles */
@media only screen and (max-width: 767px) {
    #chart {
        width: 100%;
        max-width: 450px;
        margin: 0 auto;
    }
    .arrow {
        transform: scale(0.5);
    }
    #prize h1 {
        font-size: 16px;
    }

    #prize img {
        max-width: 200px;
        display: block;
        margin: 0 auto;
    }
    .slice text {
        font-size: 10px !important;
    }
}

/* Tablet and Desktop Styles */
@media only screen and (min-width: 768px) {
    #chart {
        width: 100%;
        /* max-width: 750px; */
        margin: 0 auto;
    }

    #prize h1 {
        font-size: 24px;
    }

    #prize img {
        max-width: 400px;
        display: block;
        margin: 0 auto;
    }
}

html {
    background: rgb(255,204,0);
background: linear-gradient(60deg, rgba(255,204,0,1) 0%, rgba(255,204,0,1) 25%, rgba(0,0,0,1) 25%, rgba(0,0,0,1) 45%, rgba(255,204,0,1) 45%, rgba(255,204,0,1) 45%);
background-repeat: no-repeat;
min-height: 100%;
background-size: cover;

}
/* .wheel-container {
    background: rgb(255,204,0);
background: linear-gradient(60deg, rgba(255,204,0,1) 0%, rgba(255,204,0,1) 25%, rgba(0,0,0,1) 25%, rgba(0,0,0,1) 45%, rgba(255,204,0,1) 45%, rgba(255,204,0,1) 45%);
background-repeat: no-repeat;

} */