.base {
    background: url(base.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
}
.top {
    background: url(top.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 1058px;
    height: 20.34px;
    transform-origin: center;
    transform: rotate(0deg);
    transition: transform 0.1s ease-in-out;
}
.container {
    flex-direction: column;
    align-items: center;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.saw {
    flex-direction: column;
    align-items: center;
        display: flex;
    justify-content: center;
    border-bottom: 2px solid black;
}
form {
    display: inline-flex;
    gap: 5px;
    align-items: center;
}
label {
    border: 2px solid red;
    padding: 5px;
    cursor: pointer;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
input[type="checkbox"]:checked + label {
    background: red;
    color: white;
}
input[type="checkbox"] {
    display: none;
}
.kk-words {
    display: flex;
    flex-flow: column-reverse;
    /* align-self: flex-end; */
}
.kvk-words {
    display: flex;
    flex-flow: column-reverse;
    /* align-self: flex-start; */

}
.words {
    display: grid;
    grid-template-columns: 0.2fr 0.2fr;
    width: 100%;
    /* height: 83px; */
    align-content: center;
    justify-content: space-between;
    transform: rotate(0deg);
    transition: transform 0.1s ease-in-out;
    justify-items: center;

}
.word {
    font-size: 24px;
    padding: 5px;
    border: 2px solid red;
    /* animation-name: slide-down; */
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}
@keyframes slide-down {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
    
}