* {
    padding: 0;
    margin: 0;
}

#panorama-360-view {
    width: 100vw;
    height: 100vh;
}
html, body, * {
    cursor: none;
}
.cursor {
    background-image: url('./Object.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
    width: 250px;
    height: 250px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
    -webkit-app-region: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.logo {
    position: absolute;
    top: 100px;
    right: 0px;
    width: 500px;
    z-index: 1000;
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.title {
    position: absolute; 
    bottom: 100px; 
    left: 0px; 
    background: #10099F;
    padding: 10px;
    color: white; 
    z-index: 1000;
    font-size: 5rem;
    user-select: none;
    pointer-events: none;
}

@media (max-width: 1100px) {
    .title {
        position: absolute;
        bottom: 0px;
        left: 00px;
        font-size: 2rem;
    }
    .logo {
        width: 100px;
        top: 0px;
        right: 0px;
    }
    .cursor {
        width: 100px;
        height: 100px;
    }
}