* {
    padding: 0;
    margin: 0;
}

#panorama-360-view {
    width: 100vw;
    height: 100vh;
}
html, body, * {
    cursor: none !important;
    font-family: 'Jost', sans-serif;
}
.cursor {
    background-image: url('./HI_Hendi_01.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top left;
    width: 250px;
    height: 250px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
    -webkit-app-region: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.logo {
    position: absolute;
    top: 3rem;
    left: 0px;
    width: 500px;
    z-index: 1000;
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.title-container {
    position: absolute; 
    bottom: 100px; 
    left: 0px; 
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: stretch;
}
.title {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: stretch;
}
.title span{
    background: white;
    padding: 5px;
    z-index: 1000;
    user-select: none;
    pointer-events: none;
    color: #10099F;
font-family: Jost;
font-size: 31.559px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
}
h2 {

    color: #10099F;
    font-family: Jost;
    font-size: 14.425px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    /* text-transform: uppercase; */
    pointer-events: none;
    background: white;
    padding: 5px;
    width: fit-content;
}
.button {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    color: #10099F;
    font-family: Jost;
    font-size: 13.8px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: #02FFBB;
    text-decoration: none;
    padding: 5px;
}
.button:hover {
    background: #10099F;
    color: #02FFBB;
}
@media (max-width: 1100px) {
    .title-container {
        position: absolute;
        bottom: 1rem;
        left: 20px;
        gap: 5px;
    }
    .title span {
        font-size: 2rem;
    }
    .title {
        gap: 5px;
    }
    h2 {
        font-size: 1rem;
    }
    .logo {
        width: 131px;

    }
    .cursor {
        width: 100px;
        height: 100px;
    }
}