* {
    padding: 0;
    margin: 0;
}

#panorama-360-view {
    width: 100vw;
    height: 100vh;
}
html, body, * {
    cursor: none;
}
.cursor {
    background-image: url('./Object.png');
    background-size: cover;
    width: 250px;
    height: 250px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
    -webkit-app-region: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}