.gform_title {
	display: none;
}

.gfield_label {
	font-size: 1.1rem !important;
}

.gform_required_legend {
	display: none;
}

.ginput_container_radio div div label {
		font-size: 1.2rem;
	font-weight: normal;
}

.gfield-choice-input {
	margin-top: 15px !important;
}

.ginput_container input {
	border-radius: 10px !important;
}

.ginput_container textarea {
	border-radius: 10px !important;
}

.gform_button {
	border-radius: 10px !important;
	background-color: #ff59b0 !important;
}

.gfield_select {
	border-radius: 10px !important;
}

#field_1_8 {
	padding-bottom: 20px;
}

.saekja-um-kort-button {
	width: 100%;

}



:root {
   
    --number-height: 100px;
    /* --dial-height: calc(var(--number-height) * 3); */
    --dial-height: 300px;
    --letter-size: calc((var(--number-height)/2));
    --main-color: #FFE300;
    --shadow: 0px 3px 3px rgba(0,0,0,0.25);
}


.gris-container * {

    font-family: 'Rubik', sans-serif;
}
.score {
    display: flex;
	overflow: hidden;
	justify-content: center;
}
#lock {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: -90px;
    overflow: hidden;
    flex-direction: column;
  }
  
  .dial {
    width: var(--number-height);
    height: var(--dial-height);
    margin: 0 5px;
    position: relative;
  }
  
  .number {
    height: var(--number-height) ; 
    font-size: var(--letter-size);
    text-align: center;
    line-height: var(--number-height);
    cursor: grab;

  }
.aukavinningar {
	position: absolute;
	top: 0rem;
	left: 32rem;
	width: 25%;

}
  
  #lock::after, #lock::before {
    /* content: ''; */
    position: absolute;
    left: 0;
    right: 0;
    height: var(--number-height);
    background: rgba(255, 255, 255, 0.8); 
    z-index: 10;
    pointer-events: none;
  }
  
  #lock::before {
    top: 0;
  }
  
  #lock::after {
    bottom: 0;
  }

.gris-container .wrapper {
/*     min-height: 100vh; */
    display: grid;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-auto-flow: column;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: start;
}  

.swiper-container {
    height: var(--dial-height); 
    width: 150px;
    display: inline-block;
    margin: 0 10px; 
    background: white;
    position: relative;
}
.swiper-container::after {
    content: '';
    position: absolute;
    background: rgb(0,0,0);
    background: linear-gradient(0deg,  rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    mix-blend-mode: multiply;
    opacity: 0.2;
    inset: 0;
    z-index: 10;
    pointer-events: none;
}

.swiper-slide {
    height: var(--number-height);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--letter-size);
    color: #000;
    opacity: 0.5;
    transition: opacity 1s ease-in-out;
}

.swiper-slide-active {
    opacity: 1;
    font-weight: bold;
}
.vs {
    display: flex;
    align-content: center;
    align-items: center;
    font-size: 60px;
    font-weight: bolder;
    padding: 0 20px;
    margin-bottom: -30px;
}
.names h2 {
    width: 50%;
    font-size: 40px;
    text-shadow: var(--shadow);
	color: black;
}
.names {
	margin: auto;
    display: grid;
    justify-content: space-evenly;
	grid-auto-flow: column;
    text-align: center;
    gap: 75px;
	max-width: 417px;
}
.gris-container {
    position: relative;
    padding: 0;
    margin: 0;
    background: var(--main-color);
}
.corner {
    position: absolute;
    top: 0;
    left: 0;
    width: 60rem;
	max-width: 65%;
}
.hero {
    /* position: absolute; */
    top: 50px;
    left: 50px;
}
.hero h1 {
    font-size: 82px;
    font-weight: bold;
    color: white;
    text-shadow: var(--shadow);
	line-height: 1;
}
.hero-info {
	line-height: 1;
    font-size: 46px;
    color: var(--main-color);
    font-weight: 600;
}
.gris {
    position: absolute;
    bottom: -100px;
    right: 0;
width: 40%;
    max-width: 30rem;
}
.swiper-container {
	overflow: hidden;
	margin-top: 40px;
/*     clip-path: polygon(0 10%, 100% 10%, 100% 90%, 0 90%); */
background: linear-gradient(180deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.00) 30%), linear-gradient(180deg, rgba(0, 0, 0, 0.00) 58.62%, rgba(0, 0, 0, 0.15) 100%), var(--Color-Main-100, #FFF);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.main-info {
  margin-top: 5rem;
	color: black;
    font-size: 18px;
    max-width: 30vw;
    text-align: right;
}
.gris-container img {
    z-index: 0;
}

.text-wrapper {
    display: flex;
    z-index: 1;
    justify-content: space-between;
    width: 90%;
    margin: 46px auto 0 auto;
    align-items: flex-start;
}
.mittgris {
    font-size: 24px;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    text-align: center;
    text-shadow: var(--shadow);
	    width: 100%;
    display: block;
}
.mobile {
    display: none;
}
.gris-button {
    background: #FF59B0;
    border-radius: 10px;
    border: none;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
	color: black !important;
}
.gris-form .wpcf7-form-control-wrap input {
    padding: 25px !important;
    border-radius: 10px !important;
    border: none !important;
    margin: 10px 0 !important;
}
.submit-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    gap: 10px;

}
.gris-bottom {
    font-size: 45px;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    text-align: center;
    text-shadow: var(--shadow);
    width: 100%;
}
.gris-container  {
	color: black;
}
.absolute-footer {
	display: none;
}
#island, #england, [data-name="england"], [data-name="island"] {
	display: none !important;
}

.phone-grid {
    display: flex;
    grid-area: 1 / 1 / 1 / 3;
}
.mail-grid {
    display: flex;
    grid-area: 2 / 1 / 2 / 1;
}
.gris-button {
    background: #FF59B0 !important;
    border-radius: 10px !important;
    border: none !important;
    height: 100% ;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    display: flex;
	max-width: fit-content;
	margin: 0 !important;
}
.gris-form{
	max-width: 417px;
	margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr .2fr;
    grid-template-rows: 1fr 1fr;
	display: flex;
    flex-direction: column;
}
.gris-form .wpcf7-spinner {
	display: none;
}
.bolti {
	position: absolute;
	left: 0;
	bottom: -100px;
	height: 30rem;
}
.flag {
	width: 100%;
}
.wpcf7-acceptance label {
	display: flex;
    gap: 10px;
    padding: 10px;
    align-items: center;
}
.wpcf7-acceptance .wpcf7-list-item-label {
	white-space: nowrap;
}@media screen and (min-width: 700px) and (max-width: 1200px) and (hover: none) {
	.gris, .bolti {
		display: none;
	}
	.gris-form-row {
		margin-top: -10rem !important;
	}
}
@media screen and (max-width: 900px) {
	.aukavinningar {
		z-index: 3 !important; 
	top: 17rem;
	left: 7rem;
	width: 50%;
}
	.wpcf7-acceptance .wpcf7-list-item-label {
		white-space: unset;
	}
	.gris-form-row {
		margin-top: -30rem;
	}
		.main-info {
		margin: 150px 0;
			max-width: 100vw;
	}
	.bolti {
		bottom: unset;
		top: 22rem;
		height: 10rem;
	}

	#lock {
        width: 95%;
    }
    .gris-container {
/*         overflow-x: hidden; */
        width: 100%;
    }
    .mobile {
        display: block;
    }
    .corner-mobile {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        width: 100%;
			max-height: 1000px;
    }
    .desktop {
        display: none;
    }
    .hero h1 {
        font-size: 54px !important;
        margin-bottom: 10px;
    }
    .names h2 {
        margin-bottom: 10px;
		color: black;
    }
    .hero-info {
        font-size: 20px !important;
    }
    .hero {
    width: 100%;
        padding: 0px 0;
			margin-left: 25px;
    }
    .text-wrapper {
        flex-direction: column;
    }
    .gris {
        top: 10rem;
        height: 15rem;
    }
    .gris-container .wrapper {
/*         min-height: 100vh; */
        height: unset;
    }
    .main-info {
        padding-top: 150px;
    }
    
}
.wpcf7-response-output {
	border-color: black !important;
}