.input-container {
  display: grid;
grid-template-columns: 1fr;
  width: 100%;
  margin-bottom: 15px;
  justify-items: stretch;
    align-items: center;
}
.investment-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    justify-items: stretch;
    align-items: center;
}
label {
    text-align: right;
}
h1 {
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
}
input {
    /* max-width: 100px; */
    border-radius: 5px;
    padding: 3px;
    margin-left: 5px;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

* {
    font-family: 'Roboto', sans-serif;
}
.red {
    color: red;
}
.green {
    color: green;
}
canvas {
    margin: 100px;
}
body {
    max-width: 80%;
margin: 100px;
}
.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}
.amount {
    font-weight: bold;
}
.amount2 {
    transform: scaleY(1);
    transition: all 0.5s ease-in-out;
    transform-origin: top;
    
}
.hidden {
    position: absolute;
    transform: scaleY(0);
    transition: all 0.5s ease-in-out;
}
