body {
  margin: 0;
  overflow: hidden;
  display: flex;
  height: 100vh;
  background: black;
}

canvas {
  margin: auto;
  touch-action: none;
}
.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display:  flex;
  justify-content: center;

}

img {
  /* transform: scaleY(1); */
  transform: translateY(0);
  transition: transform 0.8s ease-in-out;
  /* transform-origin: bottom; */
}
