




:root {
   
    --number-height: 100px;
    /* --dial-height: calc(var(--number-height) * 3); */
    --dial-height: 300px;
    --letter-size: calc((var(--number-height)/2));
    --main-color: #FFE300;
    --shadow: 0px 3px 3px rgba(0,0,0,0.25);
}
@font-face {
    font-family: 'Rubik';
    src: url('./Rubik/static/Rubik-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('./Rubik/static/Rubik-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('./Rubik/static/Rubik-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('./Rubik/static/Rubik-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('./Rubik/static/Rubik-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('./Rubik/static/Rubik-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('./Rubik/static/Rubik-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('./Rubik/static/Rubik-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('./Rubik/static/Rubik-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('./Rubik/static/Rubik-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('./Rubik/static/Rubik-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('./Rubik/static/Rubik-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('./Rubik/static/Rubik-ExtraBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('./Rubik/static/Rubik-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

* {

    font-family: 'Rubik', sans-serif;
}
.score {
    display: flex;
    overflow: hidden;
}
#lock {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: -90px;
    overflow: hidden;
    flex-direction: column;
  }
  
  .dial {
    width: var(--number-height);
    height: var(--dial-height);
    margin: 0 5px;
    position: relative;
  }
  
  .number {
    height: var(--number-height) ; 
    font-size: var(--letter-size);
    text-align: center;
    line-height: var(--number-height);
    cursor: grab;

  }
  
  button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
  }
  
  #lock::after, #lock::before {
    /* content: ''; */
    position: absolute;
    left: 0;
    right: 0;
    height: var(--number-height);
    background: rgba(255, 255, 255, 0.8); 
    z-index: 10;
    pointer-events: none;
  }
  
  #lock::before {
    top: 0;
  }
  
  #lock::after {
    bottom: 0;
  }

.wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}  

.swiper-container {
    height: var(--dial-height); 
    width: 150px;
    display: inline-block;
    margin: 0 10px; 
    background: white;
    position: relative;
}
.swiper-container::after {
    content: '';
    position: absolute;
    background: rgb(0,0,0);
    background: linear-gradient(0deg,  rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    mix-blend-mode: multiply;
    opacity: 0.2;
    inset: 0;
    z-index: 10;
    pointer-events: none;
}

.swiper-slide {
    height: var(--number-height);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--letter-size);
    color: #000;
    opacity: 0.5;
    transition: opacity 1s ease-in-out;
}

.swiper-slide-active {
    opacity: 1;
    font-weight: bold;
}
.vs {
    display: flex;
    align-content: center;
    align-items: center;
    font-size: 60px;
    font-weight: bolder;
    padding: 0 20px;
    margin-bottom: -30px;
}
h2 {
    width: 50%;
    font-size: 40px;
    text-shadow: var(--shadow);

}
.names {
    display: flex;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    gap: 75px;
}
body {
    position: relative;
    padding: 0;
    margin: 0;
    background: var(--main-color);
}
.corner {
    position: absolute;
    top: 0;
    left: 0;
    width: 60rem;
}
.hero {
    /* position: absolute; */
    top: 50px;
    left: 50px;
}
.hero h1 {
    font-size: 82px;
    font-weight: bold;
    color: white;
    text-shadow: var(--shadow);
}
.hero-info {
    font-size: 46px;
    color: var(--main-color);
    font-weight: 600;
}
.gris {
    position: absolute;
    bottom: 0px;
    right: 0;
    height: 60%;
}
.swiper-container {
    clip-path: polygon(0 10%, 100% 10%, 100% 90%, 0 90%);
}
.main-info {
    /* position: absolute; */
    top: 10rem;
    right:  10rem;
    font-size: 18px;
    max-width: 672px;
    text-align: right;
}
img {
    z-index: 0;
}

.text-wrapper {
    display: flex;
    z-index: 1;
    justify-content: space-between;
    width: 90%;
    margin: -46px auto 0 auto;
    align-items: center;
}
.mittgris {
    font-size: 24px;
    font-family: rubik;
    font-weight: 600;
    text-align: center;
    text-shadow: var(--shadow);
}
.mobile {
    display: none;
}
.gris-button {
    background: #FF59B0;
    border-radius: 10px;
    border: none;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}
input {
    padding: 10px;
    border-radius: 10px;
    border: none;
    width: 95%;
    margin: 10px 0;
    height: 30px;
}
.submit-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    gap: 10px;

}
.gris-bottom {
    font-size: 45px;
    font-family: rubik;
    font-weight: 600;
    text-align: center;
    text-shadow: var(--shadow);
    width: 100%;
}
@media (max-width: 850px) {
    #lock {
        width: 95%;
    }
    body, html {
        overflow-x: hidden;
        width: 100%;
    }
    .mobile {
        display: block;
    }
    .corner-mobile {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        width: 100%;
    }
    .desktop {
        display: none;
    }
    .hero h1 {
        font-size: 56px !important;
        margin-bottom: 10px;
    }
    h2 {
        margin-bottom: 10px;
    }
    .hero-info {
        font-size: 22px !important;
    }
    .hero {
    width: 100%;
        padding: 30px 0;
    }
    .text-wrapper {
        flex-direction: column;
    }
    .gris {
        top: 10rem;
        height: 15rem;
    }
    .wrapper {
        min-height: 100vh;
        height: unset;
    }
    .main-info {
        padding-top: 150px;
    }
    
}