:root {
   
    --number-height: 60px;
    --dial-height: calc(var(--number-height) * 3);
    --letter-size: calc((var(--number-height)/2));
}
@font-face {
    font-family: 'Rubik';
    src: url('./Rubik-Black.woff2') format('woff2'),
        url('./Rubik-Black.woff') format('woff'),
        url('./Rubik-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

* {

    font-family: 'Rubik', sans-serif;
    font-weight: 900;
}
#lock {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    overflow: hidden;
  }
  
  .dial {
    width: var(--number-height);
    height: var(--dial-height);
    overflow: hidden;
    border: 1px solid #333;
    margin: 0 5px;
    position: relative;
  }
  
  .number {
    height: var(--number-height); 
    font-size: var(--letter-size);
    text-align: center;
    line-height: var(--number-height);
    cursor: ns-resize;
  }
  
  button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
  }
  
  .dial::after, .dial::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: var(--number-height);
    background: rgba(255, 255, 255, 0.8); /* Light overlay to highlight the selection */
  }
  
  .dial::before {
    top: 0;
  }
  
  .dial::after {
    bottom: 0;
  }
.wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}  