body {
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #004c93; /* Deep blue background */
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}
.images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-flow: column;

}
img {
    transform: rotate(0deg);
    transition: transform 1s;
}
img:hover {
    transform: rotate(720deg);
}
.logo {
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 5px solid #004c93;
    border-radius: 10px;
}
.images img {
    width: 80%;
    margin: 10px;
    border: 5px solid #004c93;
    border-radius: 10px;
}
a {
    text-decoration: none;
    color: #FFA07A; /* Light salmon color for links */
}
body {
    background: #FFA07A;
}
main {
    padding: 20px;
}

h1, h2 {
    color: #004c93; /* Deep blue for headings */
}

section {
    margin-bottom: 20px;
}

footer {
    background-color: #002E5D; /* Darker blue for the footer */
    color: #FFA07A; /* Salmon color for footer text */
}
nav {
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.images div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.caption {
    text-align: center;
    max-width: 90%;
    font-size: 1.2em;
    font-weight: bold;
}
@media screen and (max-width: 600px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }
    .images {
        grid-auto-flow: row;
        grid-template-columns: 1fr 1fr;
    }

    .logo {
        width: 150px;
        height: 150px;
    }
    nav {
        flex-direction: column;
    }
    ul {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
}