@font-face {
    font-family: 'chaney';
    src: url('../CHANEY-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
/*import BricolageGrotesque-SemiBold.ttf */
@font-face {
    font-family: 'bricolage';
    src: url('../BricolageGrotesque-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
:root {
    --main-green: rgb(114,216,179);
    --main-red: rgb(238,119,104);
}
.base {
    background: url(base.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
}
 body {

    position: relative;

}
.background {
    background-image: url(../BG-tall.svg);
    background-size: cover;
    position: absolute;
    inset: 0;
    height: 100vh;
    width: 100vw;
    z-index: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
html, body {
    height: 100%;
    padding: 0;
    margin: 0;

}
.top {
    background: url(top.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 1058px;
    height: 20.34px;
    transform-origin: center;
    transform: rotate(0deg);
    transition: transform 0.1s ease-in-out;
}
.container {
    flex-direction: column;
    align-items: center;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    position: relative;
    z-index: 1;
}
.saw {
    flex-direction: column;
    align-items: center;
        display: flex;
    justify-content: center;
}
form {
    display: grid;
    align-items: center;
    grid-template-rows: 1fr 1fr;
    /* margin-top: 150px; */
    grid-auto-flow: column;
    gap: 10px;
    width: 90%;
    justify-content: start;

}
label {
    font-family: 'chaney', sans-serif;
    border: 2px solid var(--main-red);
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    color: var(--main-red);
    padding: 10px;
    cursor: pointer;
    /* -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none;  */
}

.right-words, .left-words  {
    width: 500px;
    min-height: 250px;
    display: flex;
    flex-flow: column-reverse;
}
.right-words label{
    text-align: right;
}

.left-words label{
    text-align: left;
}

.words {
    display: grid;
    grid-template-columns: 0.2fr 0.2fr;
    width: 100%;
    /* height: 83px; */
    align-content: center;
    justify-content: space-between;
    transform: rotate(0deg);
    transition: all 0.1s ease-in-out;
    justify-items: center;

}
.word, .words label {
    font-weight: bold;
    font-size: 50px;
    font-family: "Anton", sans-serif;
    font-style: normal;
    padding: 5px;
    color: var(--main-red);
    border: none;
    /* animation-name: slide-down; */
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}
.words label.big-word {
    font-size: 90px;
}
@keyframes slide-down {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
    
}
@keyframes fade-out-right {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
    }
    
}
@keyframes fade-out-left {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(-100%);
        opacity: 0;
    }
    
}